/*========== Coming Soon Background Image =========*/
.comingsoonVideo .app-content .coming-soon-content {
  z-index: 99; }

.clockCard {
  float: left;
  border-radius: .50rem; }

.comingsoonOne {
  background-image: url(../../../app-assets/images/backgrounds/bg-robusta-raiz-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
 }

.getting-started {
  font-size: 2.4rem;
  border-radius: 60px;
  min-width: 360px; }

.countdownFormat {
  font-size: 16px;
  padding-bottom: 0px; }

.socialIcon i {
  font-size: 28px;
  padding: 5px; }

/*========== Coming Soon Flat Design =========*/
.clockFormat {
  border-radius: 60px; }

.comingsoonFlat {
  background-image: url(../../../app-assets/images/backgrounds/bg-14.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

  .coming-soon-footer {
            position: fixed; /* Fixa o rodapé na tela */
            bottom: 0; /* Alinha na parte inferior */
            width: 100%; /* Ocupa toda a largura */
            text-align: center;
            padding: 10px 0;
            background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para leitura */
            color: #fff; /* Texto branco */
            font-size: 12px;
            z-index: 1000; /* Garante que fique acima de outros elementos */
        }
        .coming-soon-footer p {
            margin: 0; /* Remove margem padrão do parágrafo */
        }
